include(default)

[replace_requires]
{% if platform.system() == 'Linux' %}
# FIXME: once gRPC is updated to 1.67.0 or higher
# Using 255.10 or higher https://github.com/conan-io/conan-center-index/issues/24889
# https://github.com/conan-io/conan-center-index/blob/879e140d9438ab491aceea766d0cf0ae3595dae8/recipes/grpc/all/conanfile.py#L122
libsystemd/*: libsystemd/[>=255.10]
{% endif %}

[settings]
compiler.cppstd=17
curaengine*:compiler.cppstd=20
curaengine_plugin_infill_generate*:compiler.cppstd=20
curaengine_plugin_gradual_flow*:compiler.cppstd=20
curaengine_grpc_definitions*:compiler.cppstd=20
scripta*:compiler.cppstd=20
umspatial*:compiler.cppstd=20
dulcificum*:compiler.cppstd=20
uvula*:compiler.cppstd=20
curator/*:compiler.cppstd=20
arcus*:compiler.cppstd=20
pyarcus*:compiler.cppstd=20
native_cad_plugin/*:compiler.cppstd=20

[options]
asio-grpc/*:local_allocator=recycling_allocator
grpc/*:csharp_plugin=False
grpc/*:node_plugin=False
grpc/*:objective_c_plugin=False
grpc/*:php_plugin=False
grpc/*:ruby_plugin=False
grpc/*:python_plugin=False
boost/*:header_only=True
{% if platform.system() == 'Linux' %}
openssl/*:shared=True
{% endif %}
pyarcus/*:shared=True
pysavitar/*:shared=True
pynest2d/*:shared=True
cpython/*:shared=True
cpython/*:with_tkinter=False
cpython/*:with_curses=False
{% if platform.system() == 'Windows' %}
dulcificum/*:shared=False
{% else %}
dulcificum/*:shared=True
{% endif %}
clipper/*:shared=True
hwloc/*:shared=True
{% if platform.system() == 'Windows' and platform.machine() in ['arm64', 'aarch64', 'ARM64'] %}
# ARM64 Windows: CPython requires mpdecimal as shared library
mpdecimal/*:shared=True
# ARM64 Windows: Arcus needs to be shared for proper Python binding
arcus/*:shared=True
# boost as dependency of pagmo2 needs to be in header_only "False" and without_serialization "False" to build from source on ARM Windows
# There is also the boost/1.88.0 in use but that one does not require any flags to be set
boost/1.90.0:header_only=False
boost/1.90.0:without_serialization=False
# ARM64 Windows: Disable tbbproxy (not available on ARM64 platforms)
onetbb/*:tbbproxy=False
{% endif %}
