include(default)

[settings]
compiler.cppstd=17
curator/*:compiler.cppstd=20

[conf]
tools.build:skip_test=True
{% if platform.system() == 'Windows' and os.environ.get('PROCESSOR_ARCHITECTURE', '').upper() == 'ARM64' %}
# ARM64 Windows: use locally-installed MSYS2 (msys2/cci.latest only supports x86_64)
tools.microsoft.bash:subsystem=msys2
tools.microsoft.bash:path={{ os.environ.get("MSYS2_BASH", "C:/msys64/usr/bin/bash.exe") }}
{% endif %}
