include(default)

[build_requires]

[settings]
os='{{ {'Darwin': 'Macos'}.get(platform.system(), platform.system()) }}'
os_build='{{ {'Darwin': 'Macos'}.get(platform.system(), platform.system()) }}'
compiler.cppstd=17
{% if compiler == 'gcc' %}compiler.version=12
compiler.libcxx=libstdc++11
{% elif compiler == 'apple-clang' %}compiler.libcxx=libc++
{% elif compiler == 'Visual Studio' %}compiler.toolset=v143
{% endif %}
curaengine:compiler.cppstd=20

[options]

[env]

[conf]
