include(cura.jinja)
{% set compiler, version, compiler_exe = detect_api.detect_clang_compiler(compiler_exe="clang") %}

[settings]
compiler={{ compiler }}
compiler.version={{ version.major }}
compiler.libcxx=libstdc++11

[conf]
tools.build:compiler_executables={"c":"{{ compiler_exe }}", "cpp":"{{ compiler_exe }}++"}

[buildenv]
CC={{ compiler }}
CXX={{ compiler }}++
CXXFLAGS=-Wno-error=unused-command-line-argument