include(cura.jinja)

[tool_requires]
emsdk/3.1.65@ultimaker/stable
nodejs/20.16.0@ultimaker/stable

[settings]
os=Emscripten
arch=wasm

[conf]
tools.build:skip_test=True
tools.cmake.cmake_layout:build_folder_vars=['settings.os']
{% if os.getenv('CI') == 'true' %}
user.curator:resource_path="{% os.getenv('GITHUB_WORKSPACE') %}/resources"
user.curator:fdm_materials_path="{% os.getenv('GITHUB_WORKSPACE') %}/resources"
{% endif %}

[options]
curaengine/*:enable_plugins=False
curaengine/*:enable_arcus=False
curator/*:with_cura_resources=True
curator/*:disable_logging=True
libzip/*:crypto=False
