include(cura.jinja)

[tool_requires]
# change to main once merged https://github.com/Ultimaker/conan-ultimaker-index/pull/14
emsdk/[>=3.1.65]@ultimaker/stable
nodejs/[>=20.16.0]@ultimaker/stable

[settings]
os=Emscripten
arch=wasm

[conf]
tools.build:skip_test=True

[options]
curaengine:enable_plugins=False
curaengine:enable_arcus=False
