include(cura.jinja)

[conf]
tools.build:skip_test=True
user.sentry:url=https://734f9ec9024f73e53701d59c3ffddfe3@o323038.ingest.sentry.io/4506257745510401
user.sentry:organization=ultimaker-o7

[options]
curaengine/*:enable_sentry=True
curaengine/*:sentry_send_binaries=True
curaengine/*:sentry_create_release=True
arcus/*:enable_sentry=True
arcus/*:sentry_send_binaries=True
arcus/*:sentry_project=curaengine
clipper/*:enable_sentry=True
clipper/*:sentry_send_binaries=True
clipper/*:sentry_project=curaengine

[settings]
curaengine/*:build_type=RelWithDebInfo
{% if platform.system() == 'Windows' %}
# FIXME: Resolve Arcus null reference caused by MSVC 19.40
# https://github.com/microsoft/STL/releases/tag/vs-2022-17.10
arcus/*:compiler.version=193
{% endif %}
arcus/*:build_type=RelWithDebInfo
clipper/*:build_type=RelWithDebInfo
