include(cura.jinja)

[build_requires]

[settings]

[options]

[env]

[conf]
tools.system.package_manager:mode=install
user.curaengine:sentry_url=https://734f9ec9024f73e53701d59c3ffddfe3@o323038.ingest.sentry.io/4506257745510401
user.i18n:options={"extract": False, "build": True}
