include(cura.jinja)

[build_requires]

[settings]

[options]

[env]

# Ensure backward compatibility with MacOS < 13 https://github.com/Ultimaker/Cura/issues/11841#issuecomment-1685076361
cpython:ac_cv_func_mkfifoat=no
cpython:ac_cv_func_mknodat=no

[conf]
user.curaengine:sentry_url=https://734f9ec9024f73e53701d59c3ffddfe3@o323038.ingest.sentry.io/4506257745510401
