include(cura.jinja)

[build_requires]

[settings]

[options]

[env]
CONAN_DISABLE_STRICT_MODE=1
[conf]
user.curaengine:sentry_url=https://734f9ec9024f73e53701d59c3ffddfe3@o323038.ingest.sentry.io/4506257745510401
user.curaengine:sentry_org=ultimaker-o7
user.curaengine:sentry_project=curaengine
