# This file must be used with "source bin/activate" *from bash*
# you cannot run it directly

deactivate () {
    # reset old environment variables
    {% for var in envvars.keys() %}if [ -n "$_OLD_{{ var }}" ] ; then
        export {{ var }}="$_OLD_{{ var }}"
        unset _OLD_{{ var }}
    else
        unset {{ var }}
    fi
    {% endfor %}

    if [ -n "${_OLD_VIRTUAL_PS1}" ] ; then
        export PS1="${_OLD_VIRTUAL_PS1}"
        unset _OLD_VIRTUAL_PS1
    fi
}

{% for var, value in envvars.items() %}if [ -n "${{ var }}" ] ; then
    export _OLD_{{ var }}="${{ var }}"
fi
export {{ var }}="{{ value }}"
{% endfor %}

_OLD_VIRTUAL_PS1="${PS1:-}"
export PS1="({{ prompt }}) ${PS1:-}"
